.canvas {
    border: 1px solid #d3d3d3;
    background-color: #757575;
    margin-left: 20%;
    
    float: left;
    
   

}



h1 {
    margin-left: 46%;
    padding-top: 10%;
    
}

p {
    margin-left: 37%;
    
}

 